mat-list-item.header
  font-weight: bold

mat-list-item .switch
  width: 4em

mat-list-item .name
  width: 15em

mat-list-item .revision,
mat-list-item .port
  width: 10em

mat-list-item .fill
  flex: 1 1 auto
