<mat-list>
  <mat-list-item class="header">
    <span class="switch"></span>
    <span class="name">Instance</span>
    <span class="revision">Revision</span>
    <span class="port">Port</span>
  </mat-list-item>
</mat-list>

<mat-list *ngFor="let instance of instances; last as last">
  <mat-list-item>
    <span [ngSwitch]="instance.statusCode" class="switch" >
      <button *ngSwitchDefault mat-icon-button aria-label="Start">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button *ngSwitchCase="1" mat-icon-button aria-label="Stop">
        <mat-icon>stop</mat-icon>
      </button>
    </span>
    <span class="name">{{instance.name}}</span>
    <span class="revision">r{{instance.revision}}</span>
    <span class="port">{{instance.revision}}</span>
    <span class="fill"></span>
    <span class="edit">
      <button (click)="openEditDialog(instance)" mat-icon-button aria-label="Edit configuratio">
        <mat-icon>settings</mat-icon>
      </button>
    </span>
  </mat-list-item>
  <mat-divider *ngIf="!last"></mat-divider>
</mat-list>
